.footer {
  .footer-top {
    min-width: $width1;
    width: 100%;
    height:70px;
    background-color: #fff;
    img {
      width:100%;
      height:70px;
    }
  }
  .footer-middle {
    min-width: $width1;
    width: 100%;
    position: relative;
    background: url(../img/layer_5.png) center center no-repeat;
    overflow: hidden;
    background-size: cover;
    padding: 30px 0;
    .column-footer {
      width: 25%;
      float:left;
      &:nth-child(n + 3):before {
        content:url(../img/line_2.png);
        position: absolute;
        left: -50px;
        top: 10px;
      }
      ul li{
        padding: 0 15px;
        &.social_link {
          &.facebook a{
            &:before {
              content: url(/img/facebook1.png);
            }
            &:hover:before {
              content: url(/img/facebook3.png);
            }
          };
          &.insta a{
            &:before {
              content: url(/img/insta1.png);
            }
            &:hover:before {
              content: url(/img/insta3.png);
            }
          };
          &.android a{
            &:before {
              content: url(/img/android1.png);
            }
            &:hover:before {
              content: url(/img/android3.png);
            }
          };
          &.twitter a{
            &:before {
              content: url(/img/twitter1.png);
            }
            &:hover:before {
              content: url(/img/twitter3.png);
            }
          }
        }

        a {
          padding:0;
          width:22px;
          height:22px;
          &:hover {background:0;}
        }
      }
      .logoimg {margin-bottom:15px;}
      p {
        color: $color-2;
        font-family: $font-1;
        font-size: 16px;
        font-weight: 400;
      }
      >a {
        color: $color-2;
        font-family: $font-1;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        cursor:pointer;
        &:hover {color:$color-1}
      }
    }
  }
  .footer-bottom {
    min-width: $width1;
    width: 100%;
    height:45px;
    background-color: #fff;
    img {
      height:40px;}
  }
}