@import url('https://fonts.googleapis.com/css?family=Roboto');
$color-1: #d9a32e;
$color-2: #fefefe;
$color-3: #201e2c;
$font-1: 'Roboto', sans-serif;
$width1: 1170px;

html body {
  font-size: 16px;
}

@import "global";
@import "navbar";
@import "mainSlider";
@import "bannerSlider";
@import "bannersPage";
@import "menuBranch";
@import "menuGames";
@import "jackpotPage";
@import "footer";
@import "modalWindow";