.gamesWrapper {
  width: 100%;
  min-width: $width1;
  position: relative;
  background: url(../img/layer_3.png) center center no-repeat;
  overflow: hidden;
  background-size: cover;
  h1 {
    color: $color-3;
    font-family: $font-1;
    font-size: 59px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 60px 0;
    text-align: center;
  }
  .games-menu {
    width:100%;
    position: relative;
    .game-container {
      width: 380px;
      height: 280px;
      float:left;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: .3333s all;
        z-index: 10;
        box-shadow: 0 0 24px rgba(22, 20, 35, 0.7);
      }
      .image-block {
        width:100%;
        height:100%;
        position: relative;
        >img {
          width:100%;
          height:100%;
        }
        &:before {
          content: url(../img/bg-game.png);
          background: no-repeat;
          background-size: cover;
          position: absolute;
          opacity: 1;
          display: block;
          width: 100%;
          left: 0;
          height: 82px;
          bottom: 0;
        }
      }
      .game-name {

        position:absolute;
        bottom:0;
        width:100%;
        h2 {
          text-shadow: 0 0 10px rgba(22, 20, 35, 0.5);
          color: $color-1;
          font-family: $font-1;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0 15px;
        }
        p {
          text-shadow: 0 0 10px rgba(22, 20, 35, 0.5);
          color: $color-2;
          font-family: $font-1;
          font-size: 20px;
          font-weight: 400;
          padding: 0 15px;
        }
      }
    }
  }
.game-button {
  margin:50px auto;
  &:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
  }
}


}