.navbar_1 {
  min-width: $width1;
  .navbar-nav {
    float:left;
    margin:0;
    >li {
      float: left;
    }}
  .firstnavbar {
    margin-bottom: 0;
    background-color: $color-2;
    border-color: #e7e7e7;
    position: relative;
    min-height: 90px;
    .social_link {
      &.facebook a{
        &:before {
          content: url(/img/facebook.png);
        }
        &:hover:before {
          content: url(/img/facebook3.png);
        }
      };
      &.insta {
        margin-left:50px;}
      &.insta a{
        &:before {
          content: url(/img/insta.png);
        }
        &:hover:before {
          content: url(/img/insta3.png);
        }
      };
      &.android a{
        &:before {
          content: url(/img/android.png);
        }
        &:hover:before {
          content: url(/img/android3.png);
        }
      };
      &.twitter a{
        &:before {
          content: url(/img/twitter.png);
        }
        &:hover:before {
          content: url(/img/twitter3.png);
        }
      };
      a {
        width:22px;
        height:22px;
        padding: 0;
        margin:34px 15px;
        &:hover {
          background:0;
        }
      }
      img {
        width: 22px;
        height: 22px;
      }
    }
    .lang_link {
      a {padding: 0;margin:34px 15px; }
    }
  }


  .logoimg {
    display: inline-block;
    position: absolute;
    top:20px;
    left:45%;
    height: 45px;
  }
  .menu-nav {
    min-width: $width1;
    height: 60px;
    background-color: #e5e5e5;
    ul {
      text-align: center;
      li {
        line-height: 40px;
        display:inline-block;
        a {
          color: $color-3;
          font-family: $font-1;
          font-size: 16px;
          font-weight: 400;
          padding: 10px 20px;
          &:hover {
            text-decoration: none;
            background-color: inherit;
            color: #a3a2a7;
            >img {filter: grayscale(100%) brightness(700%);}
          }
        }
        img {
          margin-right:15px;}
      }
    }
  }
  .login_nav {
float:right;
    margin:0;
    margin-right: -20px;
    list-style: none;
    >li {
      float:left;
      margin: 29px 0;
      a {display:block;}
    }
    .login-button {
      width: 122px;
      height: 30px;
      margin: 0 20px;
      line-height: 30px;
    }
    .register-button {
      width: 122px;
      height: 30px;
      border-radius: 4px;
      border: 1px solid $color-3;
      background-color: rgba(217, 163, 46, 0);
      text-align: center;
      text-decoration: none;
      line-height: 30px;

      color: $color-3;
      font-family: $font-1;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }


}


@media (min-width: 992px) {
}
