.banner-slide {
  width:100%;
  min-width: $width1;
}
.carousel-inner {
  height: 150px;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-indicators {
  display:none;
  bottom: 30px;
  width:70%;
  margin:0;
  left:30%;
  li {
    border-radius: 0px;
    width: 27px;
    height: 25px;
    background-color: #ececec;
  }
  .active {
    background-color: $color-1;
    width: 27px;
    height: 27px;
  }
}